<div class="demo-container">
	<h3>BottomSectionViewController</h3>
	<button id="test-1-btn">Run Test 1</button>
	
	<div>
		<label for="test-2-intput">Enter Your Name: </label>
		<input id="test-2-input" type="text" />
		<button id="test-2-btn">Run Test 2</button>
	</div>

	<button id="test-3-btn">Run Test 3</button>
</div>
