<h2 class="content-subhead">CSS Components</h2>
<p>ASI 3.0 UI is a client side user interface framework built using CSS3, HTML5 and JavaScript. The framework applies a CSS-first approach to view rendering and a view-first application design in order to minimize percieved load times of even the most complex composition applications.</p>

<p>The framework includes over 120 widgets for use in your applications which have been written with complete independence from one another and yet will seemlessly integrate and work in synchrony to create highly intuative, complex, and elegant enterprise applications that are fully responsive.</p>


<!--GLYPHICONS-->
<h2 class="content-subhead">Glyphicons</h2>
<p>ASI 3.0 uses <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> font pack. You can learn more about <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> on github here: <a href="http://http://fontawesome.io/" target="_blank">http://fontawesome.io/</a>. Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.
</p>
<p>Some key benefits of using a font package such as Font Awesome for rendering icons are: a) No Javascript Required which means fewer compatibility concerns because Font Awesome doesn't require JavaScript. b) Infinitly Scalable vector graphics means every icon looks awesome at any size. c) Font Awesome is also Screen Reader compatible which means it won't trip up screen readers, unlike other icon fonts. d) Easy to style using just CSS.</p>
<p>Listed below are just a small set of the over 500 icons available. For a complete list of icons please visit <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome's Example Page</a></p>
<div class="asi-g padded-rows">
	<div class="asi-u-1 asi-u-sm-1-3">
		<ul class="font-icon-examples-list">
			<li><i class="fa fa-arrows fa-2x"></i> fa-arrows</li>
			<li><i class="fa fa-bar-chart fa-2x"></i> fa-bar-chart</li>
			<li><i class="fa fa-area-chart fa-2x"></i> fa-area-chart</li>
			<li><i class="fa fa-bookmark fa-2x"></i> fa-bookmark</li>
			<li><i class="fa fa-check fa-2x"></i> fa-check</li>
		</ul>
	</div>
	<div class="asi-u-1 asi-u-sm-1-3">
		<ul class="font-icon-examples-list">
			<li><i class="fa fa-database fa-2x"></i> fa-database</li>
			<li><i class="fa fa-home fa-2x"></i> fa-home</li>
			<li><i class="fa fa-reply fa-2x"></i> fa-reply</li>
			<li><i class="fa fa-search fa-2x"></i> fa-search</li>
			<li><i class="fa fa-times fa-2x"></i> fa-times</li>
		</ul>
	</div>
	<div class="asi-u-1 asi-u-sm-1-3">
		<ul class="font-icon-examples-list">
			<li><i class="fa fa-file fa-2x"></i> fa-file</li>
			<li><i class="fa fa-check-square fa-2x"></i> fa-check-square</li>
			<li><i class="fa fa-apple fa-2x"></i> fa-apple</li>
			<li><i class="fa fa-google-wallet fa-2x"></i> fa-google-wallet</li>
			<li><i class="fa fa-credit-card fa-2x"></i> fa-credit-card</li>
		</ul>
	</div>
</div>





<!--BUTTONS-->
<h2 class="content-subhead">Buttons</h2>
<p>Buttons are convenient tools when you need more traditional actions. To that end, ASI 3.0 has many easy to use button styles that you can customize or override to fit your needs. Use the button classes on an &lt;a>, &lt;button>, or &ltinput> element.</p>

<div class="asi-g padded-rows">

	<div class="asi-u-1">
		<h3>Anchor Buttons</h3>
	</div>

	<div class="asi-u-1">
		<a class="asi-button" href="#">Button</a> <a class="asi-button active" href="#">Active Button</a> <a class="asi-button" disabled href="#">Disabled Button</a>
	</div>

	<div class="asi-u-1">
		<h3>Buttons</h3>
	</div>

	<div class="asi-u-1">
		<button class="asi-button">Button</button>
		<button class="asi-button asi-button-primary">A Primary Button</button>
		<button class="asi-button asi-button-active">Active Button</button>
		<button class="asi-button asi-button-disabled">Disabled Button</button>
	</div>

	<div class="asi-u-1">
		<h3>State Buttons</h3>
	</div>
	<div class="asi-u-1">
		<button class="asi-button secondary">Secondary Button</button>
		<button class="asi-button success">Success Button</button>
		<button class="asi-button error">Error Button</button>
		<button class="asi-button warning">Warning Button</button>
	</div>

	<div class="asi-u-1">
		<h3>Button Levels</h3>
	</div>
	<div class="asi-u-1">
		<button class="asi-button">Default Button</button>
		<button class="asi-button primary">Primary Button</button>
		<button class="asi-button secondary">Secondary Button</button>
		<button class="asi-button tertiary">Tertiary Button</button>
	</div>

	<div class="asi-u-1">
		<h3>Icon Buttons</h3>
	</div>
	<div class="asi-u-1">
		<button class="asi-button">
			<i class="fa fa-cog"></i> Settings
		</button>
		<a class="asi-button" href="#"><i class="fa fa-shopping-cart fa-lg"></i> Checkout </a>
		<button class="asi-button">
			<i class="fa fa-bars"></i>
		</button>
		<a class="asi-button icon-button" href="#"> <i class="fa fa-copy fa-lg"></i>
		</a> <a class="asi-button icon-button conditional-ie8" href="#"> <i class="fa fa-copy"></i>
		</a>
	</div>
	<div class="asi-u-1">
		<h3>Toggle Button</h3>
	</div>
	<div class="asi-u-1">
		<span class="wip-note">WIP</span>
	</div>
	<div class="asi-u-1">
		<h3>Rating Button</h3>
	</div>
	<div class="asi-u-1">
		<span class="rating"> <span class="star"></span> <span class="star"></span> <span class="star"></span> <span class="star"></span> <span class="star"></span>
		</span>
	</div>
</div>




<!--DROPDOWNS-->
<h2 class="content-subhead">Dropdowns</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>
<div class="asi-g padded-rows">
	<div class="asi-u-1">
		<span class="wip-note">WIP</span>
	</div>
</div>




<!--INPUT-->
<h2 class="content-subhead">Forms</h2>

<div class="asi-g padded-rows">
	<div class="asi-u-1">
		<h3>Default Form</h3>
		<p>To create a default inline form, add the pure-form classname to
			any &lt;form&gt; element.</p>
	</div>
	<div class="asi-u-1">
		<form class="asi-form">
			<fieldset>
				<legend>A compact inline form</legend>

				<input type="email" placeholder="Email"> <input
					type="password" placeholder="Password"> <label
					for="remember"> <input id="remember" type="checkbox">
					Remember me
				</label>

				<button type="submit" class="asi-button primary">Sign in</button>
			</fieldset>
		</form>
	</div>
</div>

<div class="asi-g padded-rows">
	<div class="asi-u-1">
		<h3>Stacked Form</h3>
		<p>To create a stacked form with input elements below the labels,
			add the asi-form-stacked classname to a &lt;form&gt; element
			alongside asi-form.</p>
	</div>
	<div class="asi-u-1">
		<form class="asi-form asi-form-stacked">
			<fieldset>
				<legend>A Stacked Form</legend>

				<label for="email">Email</label> <input id="email" type="email"
					placeholder="Email"> <label for="password">Password</label>
				<input id="password" type="password" placeholder="Password">

				<label for="state">State</label> <select id="state">
					<option>AL</option>
					<option>CA</option>
					<option>IL</option>
				</select> <label for="remember" class="asi-checkbox"> <input
					id="remember" type="checkbox"> Remember me
				</label>

				<button type="submit" class="asi-button primary">Sign in</button>
			</fieldset>
		</form>
	</div>
</div>

<div class="asi-g padded-rows">
	<div class="asi-u-1">
		<h3>Aligned Form</h3>
		<p>To create an aligned form, add the asi-form-aligned classname
			to a &lt;form&gt; element alongside pure-form. In an aligned form,
			the labels are right-aligned against the form input controls, but on
			smaller screens revert to a stacked form.</p>
	</div>
	<div class="asi-u-1">
		<form class="asi-form asi-form-aligned">
			<fieldset>
				<div class="asi-control-group">
					<label for="name">Username</label> <input id="name" type="text"
						placeholder="Username">
				</div>

				<div class="asi-control-group">
					<label for="password">Password</label> <input id="password"
						type="password" placeholder="Password">
				</div>

				<div class="asi-control-group">
					<label for="email">Email Address</label> <input id="email"
						type="email" placeholder="Email Address">
				</div>

				<div class="asi-control-group">
					<label for="foo">Supercalifragilistic Label</label> <input id="foo"
						type="text" placeholder="Enter something here...">
				</div>

				<div class="asi-controls">
					<label for="cb" class="asi-checkbox"> <input id="cb"
						type="checkbox"> I've read the terms and conditions
					</label>

					<button type="submit" class="asi-button primary">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>


<!--INPUT-->
<h2 class="content-subhead">Input</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>

<div class="asi-g padded-rows">

	<div class="asi-u-1">
		<h3>Text Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="text" placeholder="Text">
	</div>

	<div class="asi-u-1">
		<h3>Disabled Text Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="text" placeholder="Disabled input here..." disabled>
	</div>

	<div class="asi-u-1">
		<h3>Read Only Text Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="text" value="Readonly input here..." readonly>
	</div>

	<div class="asi-u-1">
		<h3>Icon Text Input</h3>
	</div>
	<div class="asi-u-1">
		<input class="textbox-1" type="text">
	</div>

	<div class="asi-u-1">
		<h3>Rounded Icon Text Input</h3>
	</div>
	<div class="asi-u-1">
		<input class="textbox-2" type="text">
	</div>

	<div class="asi-u-1">
		<h3>Email Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="email" placeholder="Enter Email">
	</div>

	<div class="asi-u-1">
		<h3>Required Email Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="email" placeholder="Requires an email" required>
	</div>

	<div class="asi-u-1">
		<h3>Required Email Input with pattern match</h3>
	</div>
	<div class="asi-u-1">
		<input type="email" placeholder="Enter Email" required
			pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
	</div>

	<div class="asi-u-1">
		<h3>Password Input</h3>
	</div>
	<div class="asi-u-1">
		<input type="password" placeholder="Password">
	</div>

	<div class="asi-u-1">
		<h3>Search Input</h3>
	</div>
	<div class="asi-u-1">
		<label for="googlesearch">Search Google:</label> <input type="search"
			name="googlesearch">
	</div>

	<div class="asi-u-1">
		<h3>Phone Input</h3>
	</div>
	<div class="asi-u-1">
		<label for="usrtel">Telephone:</label> <input type="tel" name="usrtel">
	</div>

	<div class="asi-u-1">
		<h3>URL Input</h3>
	</div>
	<div class="asi-u-1">
		<label for="homepage">URL:</label> <input type="url" name="homepage">
	</div>
</div>

<!--NAVIGATION-->
<h2 class="content-subhead">Navigation</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>

<!--Tabbar-->
<div class="asi-u-1">
	<h3>Pagination</h3>
</div>
<div class="asi-u-1">
	<ul class="asi-paginator">
		<li><a class="asi-button prev" href="#">&#171;</a></li>
		<li><a class="asi-button" href="#">1</a></li>
		<li><a class="asi-button asi-button-active" href="#">2</a></li>
		<li><a class="asi-button" href="#">3</a></li>
		<li><a class="asi-button" href="#">4</a></li>
		<li><a class="asi-button" href="#">5</a></li>
		<li><a class="asi-button next" href="#">&#187;</a></li>
	</ul>

</div>
<!--Tabbar-->
<div class="asi-u-1">
	<h3>Tabbar</h3>
</div>
<div class="asi-u-1">
	<div class="tabbar-container">
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>
	</div>
</div>

<!--Tabbed view-->
<div class="asi-u-1">
	<h3>Tabbed View</h3>
</div>
<div class="asi-u-1">
	<div class="tabbar-container">
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>
	</div>
	<div class="tabbed-view-container">Lorem Ipsum and all that...</div>
</div>


<!--Pills-->
<div class="asi-u-1">
	<h3>Pills</h3>
</div>
<div class="asi-u-1">
	<div class="pills-container">
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>
	</div>
</div>


<!--Links-->
<div class="asi-u-1">
	<h3>Links</h3>
</div>
<div class="asi-u-1">
	<div class="links-container">
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>
	</div>
</div>


<!--Accordion-->
<div class="asi-u-1">
	<h3>Accordion</h3>
</div>
<div class="asi-u-1"></div>

<!--Dropdown Menu-->
<div class="asi-u-1">
	<h3>Dropdown Menu</h3>
</div>
<div class="asi-u-1">
	<nav class="dropdown-menu-2">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Post Jobs</a>
				<ul>
					<li><a href="#">Type 1</a></li>
					<li><a href="#">Type 2</a></li>
					<li><a href="#">Type 3</a></li>
				</ul></li>
			<li><a href="#">Browse Jobs</a>
				<ul>
					<li><a href="#">Type 1</a></li>
					<li><a href="#">Type 2</a></li>
					<li><a href="#">Type 3</a></li>
					<li><a href="#">Type 4</a></li>
					<li><a href="#">Type 5</a></li>
					<li><a href="#">Type 6</a></li>
				</ul></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</div>


<!--Mega Menu-->
<div class="asi-u-1">
	<h3>Mega Menu</h3>
</div>
<div class="asi-u-1">
	<div class="mega-menu-container">
		<nav>
			<ul>
				<li><a href="#">What's new</a>
					<div>
						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Seventh Generation</a></li>
								<li><a href="#">Diapers</a></li>
								<li><a href="#">Derbies</a></li>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>

							<h3>Home</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Seventh Generation</a></li>
								<li><a href="#">Diapers</a></li>
								<li><a href="#">Derbies</a></li>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3 class="orange">Related Categories</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Diapers</a></li>
							</ul>

							<h3 class="orange">Brands</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
							</ul>
						</div>
					</div></li>
				<li><a href="#">Top rated</a></li>
				<li><a href="#">Earnings</a>
					<div>
						<div class="nav-column">
							<h3 class="orange">Related Categories</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Diapers</a></li>
							</ul>

							<h3 class="orange">Brands</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Seventh Generation</a></li>
								<li><a href="#">Diapers</a></li>
								<li><a href="#">Derbies</a></li>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>

							<h3>Home</h3>
							<ul>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>

						<div class="nav-column">
							<h3>Home</h3>
							<ul>
								<li><a href="#">Pampers Diapers</a></li>
								<li><a href="#">Huggies Diapers</a></li>
								<li><a href="#">Seventh Generation</a></li>
								<li><a href="#">Diapers</a></li>
								<li><a href="#">Derbies</a></li>
								<li><a href="#">Driving shoes</a></li>
								<li><a href="#">Espadrilles</a></li>
								<li><a href="#">Loafers</a></li>
							</ul>
						</div>
					</div></li>
				<li><a href="#">Rings</a></li>
				<li><a href="#">Bracelets</a></li>
				<li><a href="#">All Categories</a></li>
			</ul>

		</nav>
	</div>
</div>


<!--Breadcrumb-->
<div class="asi-u-1">
	<h3>Breadcrumb</h3>
</div>
<div class="asi-u-1">
	<h3>Boxed Layout</h3>
</div>
<div class="asi-u-1">
	<div class="breadcrumb-container">
		<ul class="crumbs boxed">
			<li><a href="#">Blog Home</a></li>
			<li><a href="#">Archives</a></li>
			<li><a href="#">2011 Writing</a></li>
			<li class="last"><a href="#">Tips for jQuery Development in
					HTML5</a></li>
		</ul>
	</div>
</div>
<div class="asi-u-1">
	<h3>Link Layout</h3>
</div>
<div class="asi-u-1">
	<div class="breadcrumb-container">
		<ul class="crumbs">
			<li><a href="#">Blog Home</a></li>
			<li><a href="#">Archives</a></li>
			<li><a href="#">2011 Writing</a></li>
			<li class="last"><span>Tips for jQuery Development in
					HTML5</span></li>
		</ul>
	</div>
</div>



<!--CONTAINERS-->
<h2 class="content-subhead">Containers</h2>
<p>The content-area widget is used for page layout purposes.</p>

<div class="asi-u-1">
	<h3>Fluid Container</h3>
	<p>Fluid Containers are set to scale down naturally. In this
		example the width of each container is set to 1/4th the the width of
		its parent container.</p>
</div>
<div class="asi-g">
	<div class="asi-u-1-4">
		<div class="fpo red">FPO</div>
	</div>
	<div class="asi-u-1-4">
		<div class="fpo">FPO</div>
	</div>
	<div class="asi-u-1-4">
		<div class="fpo pink">FPO</div>
	</div>
	<div class="asi-u-1-4">
		<div class="fpo purple">FPO</div>
	</div>
</div>

<div class="asi-u-1">
	<h3>Responsive Container</h3>
	<p>Responsive Containers will apply rules to the containers based
		on the set break points.</p>
</div>
<div class="asi-g">
	<div class="asi-u-1 asi-u-lg-1-4 asi-u-md-1-2">
		<div class="fpo red">FPO</div>
	</div>
	<div class="asi-u-1 asi-u-lg-1-4 asi-u-md-1-2">
		<div class="fpo">FPO</div>
	</div>
	<div class="asi-u-1 asi-u-lg-1-4 asi-u-md-1-2">
		<div class="fpo pink">FPO</div>
	</div>
	<div class="asi-u-1 asi-u-lg-1-4 asi-u-md-1-2">
		<div class="fpo purple">FPO</div>
	</div>
</div>

<div class="asi-u-1">
	<h3>Mixed Size Responsive Container</h3>
	<p>Responsive Containers will apply rules to the containers based
		on the set break points.</p>
</div>
<div class="asi-g">
	<div class="asi-u-1 asi-u-lg-6-24 asi-u-md-12-24">
		<div class="fpo red">6/24</div>
	</div>
	<div class="asi-u-1 asi-u-lg-6-24 asi-u-md-12-24">
		<div class="fpo">6/24</div>
	</div>
	<div class="asi-u-1 asi-u-lg-12-24 asi-u-md-24-24">
		<div class="fpo pink">12/24</div>
	</div>
</div>
<div class="asi-g">
	<div class="asi-u-1 asi-u-lg-6-24 asi-u-md-18-24">
		<div class="fpo red">6/24</div>
	</div>
	<div class="asi-u-1 asi-u-lg-3-24 asi-u-md-6-24">
		<div class="fpo">3/24</div>
	</div>
	<div class="asi-u-1 asi-u-lg-15-24 asi-u-md-24-24">
		<div class="fpo pink">15/24</div>
	</div>
</div>

<!--THUMBNAILS-->
<h2 class="content-subhead">Thumbnails</h2>
<p>Thumbnail containers are an extension of standard asi containers
	and have similar properties in that they can be fluid or responsive.</p>

<div class="asi-g">
	<div class="asi-u-1-4 asi-img-responsive">
		<img class="asi-img-responsive"
			src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg"
			alt="Peyto Lake">
	</div>
	<div class="asi-u-1-4 asi-img-responsive">
		<img class="asi-img-responsive"
			src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg"
			alt="Train">
	</div>
	<div class="asi-u-1-4 asi-img-responsive">
		<img class="asi-img-responsive"
			src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg"
			alt="T-Shirt Store">
	</div>
	<div class="asi-u-1-4 asi-img-responsive">
		<img class="asi-img-responsive"
			src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg"
			alt="Mountain">
	</div>
</div>

<div class="asi-g">
	<div class="asi-u-1 asi-u-lg-8-24 asi-u-md-12-24">
		<img class="asi-img-responsive"
			src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg"
			alt="Peyto Lake">
	</div>
	<div class="asi-u-1 asi-u-lg-8-24 asi-u-md-12-24">
		<img class="asi-img-responsive"
			src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg"
			alt="Peyto Lake">
	</div>
	<div class="asi-u-1 asi-u-lg-8-24 asi-u-md-24-24">
		<img class="asi-img-responsive"
			src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg"
			alt="Peyto Lake">
	</div>
</div>

<!--PROGRESS BAR-->
<h2 class="content-subhead">Progress Bar</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>

<div class="asi-g">
	<div class="asi-u-1">
		<div class="meter">
			<span style="width: 25%"></span>
		</div>
	</div>
</div>
<br />
<div class="asi-g">
	<div class="asi-u-1">
		<div class="meter orange">
			<span style="width: 50%"></span>
		</div>
	</div>
</div>
<br />
<div class="asi-g">
	<div class="asi-u-1">
		<div class="meter red">
			<span style="width: 75%"></span>
		</div>
	</div>
</div>


<!--TABLE-->
<h2 class="content-subhead">Table</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>

<div class="asi-g">
	<div class="asi-u-1">
		<table>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Dept, Title</th>
					<th scope="col">Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr class="vcard">
					<th scope="row" class="n" data-title="Name"><b
						class="family-name">Smith</b>, <b class="given-name">Laura</b></th>
					<td data-title="Email"><a class="email"
						href="mailto:laura.smith@domain.com">laura.smith@domain.com</a></td>
					<td data-title="Dept, Title">Biology, Director</td>
					<td class="tel" data-title="Phone"><a href="tel:+1123456789">123-456-789</a></td>
				</tr>
				<tr class="vcard">
					<th scope="row" class="n" data-title="Name"><b
						class="family-name">Johnson</b>, <b class="given-name">Ron</b></th>
					<td data-title="Email"><a class="email"
						href="mailto:ron.johnson@domain.com">ron.johnson@domain.com</a></td>
					<td data-title="Dept, Title">Purchasing, Director</td>
					<td class="tel" data-title="Phone"><a href="tel:+11234567891">123-456-7891</a></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<!-- GENERAL USER INSTRUCTIONS -->
<h2 class="content-subhead">Try Resizing your Browser</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia
	deserunt mollit anim id est laborum.</p>

