<h2 class="content-subhead">Welcome to ASI 3.0</h2>
<p>
	ASI 3.0 UI is a client side user interface framework built using CSS3, HTML5 and JavaScript. The framework applies a CSS-first approach to view rendering and a view-first application design in order to minimize percieved load times of even the most complex composition applications. 
</p>
<p>
	 The framework includes over 120 widgets for use in your applications which have been written with complete independence from one another and yet will seemlessly integrate and work in synchrony to create highly intuative, complex, and elegant enterprise applications that are fully responsive.
</p>
<p>
	 The framework includes over 120 widgets for use in your applications which have been written with complete independence from one another and yet will seemlessly integrate and work in synchrony to create highly intuative, complex, and elegant enterprise applications that are fully responsive.
</p>