<h1>I am the home view</h1>

<p>Hi my first name is {{modelFirstName}}, and i am brought to you by way of the model</p>

<p>on the other hand my first name, {{lastName}}, is brought to you by the input field</p>

<p>First Name</p>
<input type="text" class="first-name">

<p>Last Name</p>
<input type="text" class="last-name">


<div id="sub-view-container"></div>