<ul>
	<li>
		<a href="#!/GettingStarted">Getting Started</a>
	</li>
	<li>
		<a href="#!/Css">CSS</a>
	</li>
	<li>
		<a href="#!/javascript">JavaScript</a>
	</li>
	<li>
		<a href="#!/examples">Examples</a>
	</li>
	<li>
		<a href="#!/docs">Docs</a>
	</li>
	<li>
		<a href="#!/api">Api</a>
	</li>
	<li>
		<a href="#!/tests">Tests</a>
	</li>
</ul>