.fpo {
	display: block;
	background: purple;
	width: 100%;
	height: 200px;
	padding: 1em;
	
	.label {
		color: #FFF;
		font-weight: bold;
	}
	
	> div {
		display: block;
		background: yellow;
		border: 3px solid white;
		width: 100%;
		height: 80px;
	}
}