* {
	font-family: Arial;
}

body {
	background: #EEE;
	margin: 20px 0;
	padding: 0 20px;
	min-width: 1024px\9;
}

.accordion-container {
	position: relative;
	width: 500px;
	margin: 0 auto;
	padding: 0;
}

.accordion-container > li {
	list-style: none;
	border: 1px 1px 1px 1px #efefef solid;
	background-color: #34495e;
	display: block;
}

.accordion-container > li h2 {
	margin: 0;
	padding: 10px;
	color: #FFFFFF;
	background-color: #3498db;
	border-bottom: solid 1px #2980b9;
}

.accordion-container > li h2 .badge {
	background: #006699;
	border: 1px solid #003d5d;
	color: #6cb2d6;
	padding: 4px;
	float: right;
	margin-top: -4px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	font-size: 0.7em;
	text-align: center;
	border-radius: 22px;
	-moz-box-shadow:    inset 0 0 4px #024162;
	-webkit-box-shadow: inset 0 0 4px #024162;
	box-shadow:         inset 0 0 4px #024162;
}

.accordion-container > li a {
	text-decoration: none;
}

.accordion-container > li .content {
	height: 0;
	overflow: hidden;
}

.accordion-container > li:target .content{
	height: auto;
	background-color: #FFF;
}

.accordion-container > li .content p {
	margin: 0px;
	padding: 10px;
	color: #333;
}

.accordion-container > li .content .accordion-content-footer {
	padding: 10px;
	text-align: right;
}
