/*****************************
 * PILLS *********************
 *****************************/
.pills-container {
	display: block;
}

.pills-container > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pills-container > ul > li {
	display: inline-block;
	padding: 0;
}

.pills-container > ul > li a {
	display: block;
	text-decoration: none;
	color: #232626;
	padding: 4px 16px;
	background: #49bfcd;
	border: 1px solid #49bfcd;
	border-radius: 24px;
}

.pills-container > ul > li a:hover,
.pills-container > ul > li a:active {
	text-decoration: none;
	color: #0d0d0d;
	background: #04dcfc;
}
