* {
	font-family: Arial;
}

body {
	background: #EEE;
	margin: 20px 0;
	padding: 0 20px;
}

.tabbed-container {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

.tabbed-container > li {
	list-style: none;
	display: inline;
}

.tabbed-container > li > a {
	position: relative;
	text-decoration: none;
	color: black;
	background: white;
	display: block;
	float: left;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-bottom: 1px solid white;
}

.tabbed-container > li:not(:target) > a {
	border-bottom: 0;
}

.tabbed-container > li:target > a {
	background: orange;
}

.tabbed-container > li > a h2 {
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.tabbed-container > li > .content {
	background: white;
	z-index: -2;
	left: 0;
	top: 30px;
	bottom: 0;
	right: 0;
	padding: 20px;
	border: 1px solid #ccc;
	position: absolute
}

.tabbed-container > li:target .content {
	z-index: -1;
	min-height: 200px;
}



@media only screen and (max-width: 580px) {
	.tabbed-container {
		width: 460px;
		margin: 0 auto;
	}
	
	.tabbed-container > li {
		display: block;
		list-style: none;
		border: none;
		background-color: #34495e;
	}
	
	.tabbed-container > li > a {
		text-decoration: none;
		position: relative;
		display: block;
		float: none;
		padding: 0;
		margin: 0;
	}
	
	.tabbed-container > li > a h2 {
		padding: 10px;
		color: #FFFFFF;
		background-color: #3498db;
		border-bottom: solid 1px #2980b9;
	}
	
	.tabbed-container > li > .content {
		height: 0;
		overflow: hidden;
		position: relative;
		padding: 0;
		margin: 0;
	}
	
	.tabbed-container > li:target > .content{
		height: auto;
		background-color: #FFF;
		z-index: 1;
	}
	
	.tabbed-container > li > .content p {
		margin: 0px;
		padding: 10px;
		color: #333;
	}

}